<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Jala Academy Automation Suite"
       parallel="tests"
       thread-count="2"
       preserve-order="true">

    <listeners>
        <listener class-name="com.jalaAcademy.utils.Listeners"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <!-- Chrome Execution -->
    <test name="Chrome_Test">

        <parameter name="browser" value="chrome"/>
        <parameter name="siteURL"
                   value="https://magnus.jalatechnologies.com/Account/Login"/>

        <classes>
            <class name="com.jalaAcademy.automation.LoginTest"/>
           <class name="com.jalaAcademy.automation.EmployeeDetailsTest"/>
            <class name="com.jalaAcademy.automation.SearchEmployeeTest"/>
            <class name="com.jalaAcademy.automation.MenuTest"/>
            <class name="com.jalaAcademy.automation.IframeTest"/>
            <class name="com.jalaAcademy.automation.ImagesTest"/>
        </classes>

    </test>

    <!-- Firefox Execution 
    <test name="Firefox_Test">

        <parameter name="browser" value="firefox"/>
        <parameter name="siteURL"
                   value="https://magnus.jalatechnologies.com/Account/Login"/>

        <classes>
            <class name="com.jalaAcademy.automation.LoginTest"/>
            <class name="com.jalaAcademy.automation.EmployeeDetailsTest"/>
            <class name="com.jalaAcademy.automation.SearchEmployeeTest"/>
            <class name="com.jalaAcademy.automation.MenuTest"/>
            <class name="com.jalaAcademy.automation.IframeTest"/>
            <class name="com.jalaAcademy.automation.ImagesTest"/>
        </classes>

    </test>-->

</suite>
